* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color: #ffffff;
  --bg-url: url(/assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --suface-color-hover: rgba(255, 255, 255, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --theMode: url(/assets/moon-stars.svg);
  --avatar-url: url(/assets/avatar.jpg);
}

.light{
  --text-color: #000000;
  --bg-url: url(/assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --suface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --theMode: url(/assets/sun.svg);
  --avatar-url: url(/assets/avatar-light.jpeg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
  /* Ainda acho melhor usar tailwind */
}

body * {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: 588px;
  margin: auto;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#themeMode {
  position: relative;
  width: 64px;
  margin: 4px auto;
}


#themeMode button{
  width: 32px;
  height: 32px;
  background: white var(--theMode) no-repeat center;
  border: none;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-out 0.3s;
}

.light #themeMode button{
animation: slide-in 0.3s forwards;
}

#themeMode button:hover{
  outline: 8px solid var(--highlight-color);
}

#themeMode span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;

}

#profile {
  text-align: center;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

#profile .avatar {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background-size: cover;
  background-image: var(--avatar-url);
}

#profile p {
  font-weight: bold;
  line-height: 24px;
  font-style: italic;
  padding: 05px 0;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 56px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  /* background: #261025; 
  Na minha cabeça, essa cor é mais bonita */

  border-radius: 10px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-weight: bold;
  transition: background 0.3s;
}

ul li a:hover {
  background: var(--suface-color-hover);
  border: 1.5px solid var(--text-color);
  /* background: #8d7d8a; 
  Na minha cabeça, essa cor é mais bonita */
  
}

#social-Links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-Links a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-Links a:hover {
  background: var(--highlight-color);
  padding: 16px;
}

#by {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}


@media (min-width: 700px) {
  :root {
    --bg-url: url(/assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(/assets/bg-desktop-light.jpg);
  }
}

@keyframes slide-in{
  from{
    left: 0;
  }
  to{
    left: 50%;
  }
}

@keyframes slide-out{
  from{
    left: 50%;
  }
  to{
    left: 0;
  }
}